<!DOCTYPE HTML>
<html>
	<head>
		<title>Campus Ambassador</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="ca/assets/css/main.css" />
    	<link rel="icon" type="image/png" href="ca/favicon/logo.png" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="#menu"><span>Menu</span></a>
			</header>

		
		<!-- Nav -->
			<nav id="menu" style="background: black;">
				<ul class="links">
					<li><a href="/">Udghosh'19</a></li>
					<li><a href="/acf00010c0c607c79a42343051745191985078f2">Login/Register</a></li>
								<li><a href="/525299210b55528ffbd19b7a50a4ef386e208f9d" target="_blank">Official Brochure</a></li>
					<!--<li><a href="/merch">Merchandise</a></li>-->
								<li><a href="/e365d9caf9b7234a92d04292c74c4891befbbf25">NOSSQ</a></li>
					<li><a href="/56139fb631d586607a3841992148761f78ae3f31">Udghosh Champs</a></li>
								<li><a href="/events">Formal Events</a></li>
					<li><a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179">Social Initiatives</a></li>
					<li><a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e">Campus Ambassador</a></li>
					<li><a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6">Udghosh Broadcast</a></li>
					<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100">Udghosh Snapshot</a></li>
					<li><a href="/fb250db707f26b867234c570dfe12a67b0b4d71e">About Us</a></li>

				</ul>
			</nav>

		<!-- Banner -->

			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h2>Udghosh'19 Presents To You</h2>
						<h1>Campus Ambassador</h1>
					</header>
					<footer>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSdAHHeWUYw9UWsyG2yzIfN2TAUuQlfLwWWwlXF_nOu_e5OclQ/viewform" class="button alt">Apply For Campus Ambassador</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>WHY BECOME CA?</h2>
						</header>
						<div class="content">
							<ul style="font-size: 20px;letter-spacing: 2px;list-style: none;text-align: left;color: white;">
						      <li>
						        Improve your skill set
						      </li>
						      <li>
						        Enhance your communication and managerial skills Increase your contacts
						      </li>
						      <li>
						        Interact with people coming from diverse fields across the country to develop your network
						      </li>
						      <li>
						        Enhance your image and Be associated with Asia's largest science and technology festival and lead your college to a promising future
						      </li>
						      <li>
						        Become the Leader of your College. An opportunity to represent your College at a higher level.
						      </li>
						    </ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>BECOME THE LEADER OF YOUR COLLEGE</h2>
						</header>
						<div class="content">
							<p style="font-size: 20px;letter-spacing: 2px;color: white;">
						      IIT KANPUR has been one of the leading centers of education and research since its inception, providing some of the brightest minds of the country Udghosh has always been a classic example of the fact that it's the endeavor that counts. Our efforts have always aimed to bring about a rise in competition level among the youths. empowering the masses with a torch of social awareness, keeping the grandeur of entertainment and professional shows alive. Udghosh brings to the masses a plethora of events, comprising all major sports, workshops and informal events.
						    </p>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>INCENTIVES</h2>
						</header>
						<div class="content">
							<ul style="font-size: 20px;letter-spacing: 2px;list-style: none;color: white;">
						      <li>
						        Every CAs will be awarded a Certificate Of Organization by Udghosh, IIT KANPUR recognizing their work
						      </li>
						      <li>
						        For the fest they will get free event passes.
						      </li>
						      <li>
						        And ofCourse, a Great CV point for their carrer development.
						      </li>
						    </ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>RESPONSIBILITIES</h2>
						</header>
						<div class="content">
							<ul style="color: white;list-style: none;font-size: 20px;letter-spacing: 2px;color: white;text-align: left;">
						      <li>
						        Publicity: Displaying posters of Udghosh 2019 within 2-3 days of receiving them , on college bulletins and notice boards.
						      </li>
						      <li>
						        Organize Events: Organizing workshops & events in your college or city under the guidance of UDGHOSH, IIT KANPUR
						      </li>
						      <li>
						        Social Media: Publicising the events of Udghosh on various Social media platforms like Facebook, Twitter, Instagram by sharing the posts of Udghosh
						      </li>
						    </ul>
						</div>
						<footer>
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdAHHeWUYw9UWsyG2yzIfN2TAUuQlfLwWWwlXF_nOu_e5OclQ/viewform" class="button alt">Apply For Campus Ambassador</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" style="background: black;">
				<div class="inner">
					<h2><a href="#">Contact Us</a></h2>
					<ul class="icons">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon round fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
					<div class="copyright" style="color: white;">
						&copy; Udghosh'19
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="ca/assets/js/jquery.min.js"></script>
			<script src="ca/assets/js/jquery.scrolly.min.js"></script>
			<script src="ca/assets/js/jquery.scrollex.min.js"></script>
			<script src="ca/assets/js/skel.min.js"></script>
			<script src="ca/assets/js/util.js"></script>
			<script src="ca/assets/js/main.js"></script>

	</body>
</html>
