<!DOCTYPE HTML>
<html>
	<head>
		<title>Udghosh Snapshot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="gallery/asset/css/main.css" />
    	<link rel="icon" type="image/png" href="gallery/favicon/logo.png" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/"><span class="icon fa-home"></span></a></li>
						<li><a href="/acf00010c0c607c79a42343051745191985078f2"><span class="icon fa-file-text-o"></span></a></li>
						<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100" class="active"><span class="icon fa-camera-retro"></span></a></li>
					</ul>
				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1>Udghosh Snapshot</h1>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
								</ul>
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<h2>Udghosh Legacy</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="gallery/images/fulls/01.jpg"><img src="gallery/images/thumbs/01.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/05.jpg"><img src="gallery/images/thumbs/05.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/09.jpg"><img src="gallery/images/thumbs/09.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/02.jpg"><img src="gallery/images/thumbs/02.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/06.jpg"><img src="gallery/images/thumbs/06.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/10.jpg"><img src="gallery/images/thumbs/10.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/03.jpg"><img src="gallery/images/thumbs/03.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="gallery/images/fulls/07.jpg"><img src="gallery/images/thumbs/07.jpg" alt="" title="This right here is a caption." /></a>
										</div>
									</div>
									<footer>
										<a href="gallery.html" class="button big">Full Gallery</a>
									</footer>
								</div>
						</section>

					<!-- Contact -->
						<section id="contact">
							<!-- Social -->
								<div class="social column">
										
										
												<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=iitk%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:90%;margin-left: 5%;margin-right: 5%;margin-bottom: 4%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
								</div>

							<!-- Form -->
								<div class="column">
									<h3>Get in Touch</h3>
									<form action="/form_responses" method="POST">
										<div class="field half first">
											<label for="name">Name</label>
											<input name="name" id="name" type="text" placeholder="Name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit"></li>
										</ul>
									</form>
									<br><br>
									<h3>Follow Us</h3>
									<ul class="icons">
											<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
										</ul>
								</div>

						</section>

					<!-- Footer -->
						<footer id="footer">
							<div class="copyright">
								&copy; Udghosh'19
							</div>
						</footer>
				</section>
		</div>

		<!-- Scripts -->
			<script src="gallery/asset/js/jquery.min.js"></script>
			<script src="gallery/asset/js/jquery.poptrox.min.js"></script>
			<script src="gallery/asset/js/jquery.scrolly.min.js"></script>
			<script src="gallery/asset/js/skel.min.js"></script>
			<script src="gallery/asset/js/util.js"></script>
			<script src="gallery/asset/js/main.js"></script>

	</body>
</html>
