<!DOCTYPE HTML>
<html>
	<head>
		<title>Udghosh'19 - Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link rel="icon" type="image/png" href="favicon/logo.png" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<a href="#menu">Menu</a>
			</header>

			<!-- Nav -->
				<nav id="menu" style="background: black;">
					<ul class="links">
						<li><a href="/">Udghosh'19</a></li>
						<li><a href="/acf00010c0c607c79a42343051745191985078f2">Login/Register</a></li>
	          			<li><a href="/525299210b55528ffbd19b7a50a4ef386e208f9d" target="_blank">Official Brochure</a></li>
						<!--<li><a href="/merch">Merchandise</a></li>-->
	          			<li><a href="/e365d9caf9b7234a92d04292c74c4891befbbf25">NOSSQ</a></li>
						<li><a href="/56139fb631d586607a3841992148761f78ae3f31">Udghosh Champs</a></li>
	          			<li><a href="/events">Formal Events</a></li>
						<li><a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179">Social Initiatives</a></li>
						<li><a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e">Campus Ambassador</a></li>
						<li><a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6">Udghosh Broadcast</a></li>
						<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100">Udghosh Snapshot</a></li>
						<li><a href="/fb250db707f26b867234c570dfe12a67b0b4d71e">About Us</a></li>

					</ul>
				</nav>

			<!-- Banner -->

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/slide01.jpg" alt="" />
					<div class="inner">
						<header>
							<p>IIT Kanpur Presents To You</p>
							<h2>Udghosh'19</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide02.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Udghosh has always been a classic example of the fact that it's the endeavor that counts.</p>
							<h2>Udghosh'19</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide03.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Our efforts have always aimed to bring about a rise in competition level among the youths.</p>
							<h2>Udghosh'19</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Empowering the masses with a torch of social awareness, keeping the grandeur of entertainment and professional shows alive.</p>
							<h2>Udghosh'19</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Udghosh brings to the masses a plethora of events, comprising all major sports, workshops and informal events.</p>
							<h2>Udghosh'19</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">India's Biggest Sports Carnival</p>
						<h2>Witness The Eminence and Grandeur of Udghosh</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<header>
									<h2 style="font-size: 40px;">Events</h2>
									<p>Let's Play</p>
								</header>
								<p>IIT Kanpur is equipped with the state of of the art facility in the sector of sports. Udghosh organises 22 sports events with a huge participation of both boys and girls from over 200 colleges across the country. Over 2500 students participants take part in a broad spectrum of fine sports events and informal events, followed by various other attractions like pro-Nights, comedy nights etc. Udghosh 2019 being the largest sports festival in the county, also promotes social causes like "<b>Udaan</b>, a sports extravaganza for specially abled students" and "<b>Saathi</b>, led by Priyanka SURESH RAINA and Udghosh" and many more.</p>
								<footer>
									<a href="#" class="button alt">Register Now</a>
								</footer>
							</div>
						</div>
						<div>
							<div class="image fit" style="height: 98%;">
								<a href="#"><img src="images/new.png" alt="" /></a>
							</div>
						</div>
					</div>

					<div style="background: rgba(0,0,0,0.05); padding: 20px;">
					<header class="align-center">
						<h1 style="font-size: 40px;">Latest Updates</h1>
						<p style="color: black;">Bringing in the Official Udghosh'19 Brochure with a Throwback to the 15th Edition of Udghosh.</p>
					</header>

					<div class="gallery">
						<div>
							<div class="image fit">
								<header>
									<h2>Udghosh Aftermovie</h2>
								</header>
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/4vi2ZTXYSAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div>
							<div class="image fit" style="height: 98%;">
								<header>
									<h2>Sixteenth Edition Brochure</h2>
								</header>
								<a href="views/Brochure/index.html" target="_blank"><img style="height: 315px;" src="images/brochure.jpg" alt="" /></a>
							</div>
						</div>
					</div>
					</div>

					<header class="align-center">
						<h2>Sponsors</h2>
						<h1 style="font-size: 40px;">Associate with Us</h1>
						<p style="color: black;">Udghosh 2019 will be very delighted to associate with companies to promote and making the festival happen with great success.</p>
					</header>

					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic02.jpg" style="height: 400px;" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>A Whole New Era For</p>
										<h2>Marketing</h2>
									</header>
									<p> Companies can associate with Udghosh, IIT Kanpur as sponsors for the festival with a return of an incredible year-long branding and promotion implementations.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Join Us</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic03.jpg" style="height: 400px;" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>A New Flex Place For</p>
										<h2>Media</h2>
									</header>
									<p> Media companies can associate with Udghosh, IIT Kanpur as media Partners and can expect incredible year long branding. Company participation is highly appreciated.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Join Us</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>

				<section id="two" class="wrapper style3">
					<div class="inner">
						<header class="align-center">
							<h2>Promote Your Brand Here</h2>
						</header>
						<footer class="align-center">
							<a href="#" class="button alt">Register Your Brand</a>
						</footer>
					</div>
				</section>

			</section>



		<!-- Footer -->
			<footer id="footer">
				<!-- Contact -->
				<section id="contact">
						<!-- Social -->
							<div class="social column">		
								<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=iitk%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:90%;margin-left: 5%;margin-right: 5%;margin-bottom: 4%;margin-top: 4%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
							</div>

						<!-- Form -->
							<div class="column">
								<h1 style="font-size: 24px;color: white;">Get in Touch</h1><br>
								<form action="/form_responses" method="POST">
									<span class="field half first">
										<!-- <label for="name">Name</label> -->
										<input name="name" id="name" type="text" placeholder="Name: Eg. Test" style="border: 1px solid black;color:black;background-color: white">
									</span><br>
									<span class="field half">
										<!-- <label for="email">Email</label> -->
										<input name="email" id="email" type="email" placeholder="Email: Eg. test@xyz.com" style="border: 1px solid black;background-color: white">
									</span><br>
									<div class="field">
										<!-- <label for="message">Message</label> -->
										<textarea name="message" id="message" rows="6" placeholder="Message: Eg. Hello" style="border: 1px solid black"></textarea>
									</div><br>
									<ul class="actions">
										<li><input value="Send Message" class="button" type="submit" style ="background-color: white ;color: black;"></li>
									</ul>
								</form>
							</div>

					</section>
					<br><br>
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Udghosh'19
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
