<html>
	<head>
		<title>Udghosh'19 - NOSSQ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="nossq/css/main.css" />
    	<link rel="icon" type="image/png" href="nossq/images/logo.png" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Udghosh'19</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
				<nav id="nav" style="background: black;">
					<ul class="links">
						<li><a href="/">Udghosh'19</a></li>
						<li><a href="/acf00010c0c607c79a42343051745191985078f2">Login/Register</a></li>
	          			<li><a href="/525299210b55528ffbd19b7a50a4ef386e208f9d" target="_blank">Official Brochure</a></li>
						<!--<li><a href="/merch">Merchandise</a></li>-->
	          			<li><a href="/e365d9caf9b7234a92d04292c74c4891befbbf25">NOSSQ</a></li>
						<li><a href="/56139fb631d586607a3841992148761f78ae3f31">Udghosh Champs</a></li>
	          			<li><a href="/events">Formal Events</a></li>
						<li><a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179">Social Initiatives</a></li>
						<li><a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e">Campus Ambassador</a></li>
						<li><a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6">Udghosh Broadcast</a></li>
						<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100">Udghosh Snapshot</a></li>
						<li><a href="/fb250db707f26b867234c570dfe12a67b0b4d71e">About Us</a></li>

					</ul>
				</nav>

			<!-- Banner -->
			<section id="banner">
				<h2>Udghosh Presents To You NOSSQ</h2>
				<p>A quiz competition among school students all across India.</p>
				<ul class="actions">
					<li><a href="/nossq_1_form" class="button big special">Register Now</a></li>
					<li><a href="../../404.html" class="button big special">Rules and Regulations</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="nossq/images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h2 style="text-align: center;">Witness the Grandeur of Udghosh with NOSSQ</h2>
							<p>UDGHOSH is the biggest sports festival in the country. Started in 2002, this festival has reached new heights every year. NOSSQ is an initiative in this same direction. It will be conducted in schools all over the country on a self-designed platform by Udghosh 2019, IIT Kanpur. This event is for talent search in the field of Sports and is concentrated towards 6th to 12th students. . A quiz competition on (general knowledge relating to sports) among the students from across the schools in India will be conducted. This competition is divided into three categories.  Top 3 winners from each category will awarded with a prize. There will be a total of three stages in the competition.</p>
							<ul class="actions">
								<li>
									<a href="../../404.html" class="button alt">Register Now</a>
									<a href="../../404.html" class="button alt">Rules and Regulations</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="nossq/images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2 style="text-align: center;">Guest Lecture by Esteemed <br>Prof. H.C.Verma</h2>
							<p>The Final Winners(Top 2 teams of each category) will get the chance to interact with the esteemed Professors of IIT Kanpur. Prize Felicitation will be done by esteemed Prof. H.C. Verma. <br>Pro-Nites Passes will be given from Udghosh 2019. All the students will be taken through Lecture halls, AIRSTRIP, OAT, ACADEMIC AREA, etc. Gold Certificates will be given to each member of the TOP 2 Teams. </p>
							<ul class="actions">
								<li>
									<a href="../../404.html" class="button alt">Register Now</a>
									<a href="../../404.html" class="button alt">Rules and Regulations</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Four -->
			<!-- <section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>The Udghosh team promises to keep its commitment levels at its peak and provide talent the right push along with inspiration from renowned sports celebrities.</p>
					</header>
					<form action="/form_responses" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section> -->

		<!-- Footer -->
			<!-- <footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube">
							<span class="label">YouTube</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Udghosh'19</li>
					</ul>
				</div>
			</footer> -->
			<footer id="footer">
					<!-- Contact -->
					<section id="contact">
							<!-- Social -->
								<div class="social column">		
								
								<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="550" id="gmap_canvas" src="https://maps.google.com/maps?q=indian%20institute%20of%20technology%20kanpur%20&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:550px;width:90%;margin-left: 5%;margin-right: 5%;margin-bottom: 0%;margin-top: 5.2%;}.gmap_canvas {overflow:hidden;background:none!important;height:550px;width:100%;}</style></div>
									</div>
							<!-- Form -->
								<div class="column">
									<h1 style="font-size: 24px;color: white;">Get in Touch</h1><br>
									<form action="/form_responses" method="POST">
										<span class="field half first">
											<!-- <label for="name">Name</label> -->
											<input name="name" id="name" type="text" placeholder="Enter Your Name" style="border: 1px solid black;color:black;background-color: white">
										</span><br>
										<span class="field half">
											<!-- <label for="email">Email</label> -->
											<input name="email" id="email" type="email" placeholder="Email ( Eg. example@example.com )" style="border: 1px solid black;background-color: white;color:black;">
										</span><br>
										<div class="field">
											<!-- <label for="message">Message</label> -->
											<textarea name="message" id="message" rows="6" placeholder="Message (Enter Your Message)" style="border: 1px solid black;background-color: white;color:black;"></textarea>
										</div><br>
										<ul class="actions" style="float:left;margin-top: 0;" >
											<li><input value="Send Message" class="button" type="submit" style ="color: black; margin-top: 0%"></li>
										</ul>
									</form>
									
										<ul class="icons" style="float:right;">
											<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
										</ul>
									
								</div>
	
						</section>
						
					
					<div class="copyright">
						&copy; Udghosh'19
					</div>
				</footer>
		<style>
				#footer {
		text-align: center;
		padding: 0em 0 2em 0;
		color:rgb(150,150,150);
		background-color: black;
	}

		/* #footer:before {
			content: '';
			border-top: solid 1px rgb(75,75,75);
			width: 67%;
			display: block;
			margin: 0 auto 3em auto;
		} */
		
		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}
		@media screen and (max-width: 1280px) {

			#footer {
				padding: 0em 0 1em 0;
			}

		}

		#contact {
	display: -ms-flexbox;
	-ms-flex-pack: justify;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background:black;
}

	#contact form {
		margin: 0;
	
	}

	#contact .icons {
		margin-bottom: 1em;
	}

	#contact .column {
		padding: 3.5em 0 1.5em 0;
		padding-left: 3.5em;
		
		padding-right: 3.5em;
		width: 50%;
	}
	
	#contact textarea
	{
		border:1px solid black;
	}

		#contact .column.social {
			background:black;
			padding: 2em 0 0.1em 0;
		}

		@media screen and (max-width: 980px) {

			#contact .column {
				padding: 2em 0 0.1em 0;
				padding-left: 2em;
				padding-right: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#contact .column {
				width: 100%;
			}

		}

		@media screen and (max-width: 480px) {

			#contact .column {
				padding: 1em 0 0.1em 0;
				padding-left: 1em;
				padding-right: 1em;
			}

		}
		</style>

		<!-- Scripts -->
			<script src="nossq/js/jquery.min.js"></script>
			<script src="nossq/js/skel.min.js"></script>
			<script src="nossq/js/util.js"></script>
			<script src="nossq/js/main.js"></script>

	</body>
</html>