<!DOCTYPE HTML>
<html>
	<head>
		<title>Udghosh'19 - Social Initiatives</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="social/assets/css/main.css" />
    	<link rel="icon" type="image/png" href="social/favicon/logo.png" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<a href="#menu">Menu</a>
			</header>

			<!-- Nav -->
				<nav id="menu" style="background: black;">
					<ul class="links">
						<li><a href="/">Udghosh'19</a></li>
						<li><a href="/acf00010c0c607c79a42343051745191985078f2">Login/Register</a></li>
	          			<li><a href="/525299210b55528ffbd19b7a50a4ef386e208f9d" target="_blank">Official Brochure</a></li>
						<!--<li><a href="/merch">Merchandise</a></li>-->
	          			<li><a href="/e365d9caf9b7234a92d04292c74c4891befbbf25">NOSSQ</a></li>
						<li><a href="/56139fb631d586607a3841992148761f78ae3f31">Udghosh Champs</a></li>
	          			<li><a href="/events">Formal Events</a></li>
						<li><a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179">Social Initiatives</a></li>
						<li><a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e">Campus Ambassador</a></li>
						<li><a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6">Udghosh Broadcast</a></li>
						<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100">Udghosh Snapshot</a></li>
						<li><a href="/fb250db707f26b867234c570dfe12a67b0b4d71e">About Us</a></li>

					</ul>
				</nav>

			<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Social Initiatives</h1>
						<p>Help Udghosh, in making the Society to be a better Place.</p>
					</header>
					<a href="#main" class="button big scrolly">Join The Cause</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="social/images/pic01.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>SAATHI</h3>
										<p>An initiative with the Gracia Raina Foundation to work on women and child developement programs. This idea was propelled in last edition when Priyanka Suresh Raina visited IIT Kanpur.</p>
										<a href="#" class="button">Join The Cause</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>UDAAN</h3>
									<p>An endeavour to reach out to the differently abled kids. We crave for the glorified feeling when each and every one of us rejoices in the beautiful games.</p>
									<a href="#" class="button">Join The Cause</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="social/images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Aliquam ipsum purus dolor</h2>
								<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="social/images/pic03.jpg" style="height: 150px;" alt="" />
									</div>
									<p>You don't have to be a doctor to save Lives.</p>
									<p href="" class="button">BLOOD DONATION</p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="social/images/pic05.jpg" style="height: 150px;" alt="" />
									</div>
									<p>He Who opens a school closes a prison.</p>
									<p href="" class="button">CHILD EDUCATION</p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="social/images/pic04.jpg" style="height: 150px;" alt="" />
									</div>
									<p>You are no PUNK so don't drive drunk.</p>
									<p href="" class="button">DON'T DRINK AND DRIVE</p>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" style="background: #5DADE2;">
					<section id="contact">
							<!-- Social -->
								<div class="social column">
											
									<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=iitk%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:90%;margin-left: 5%;margin-right: 5%;margin-bottom: 4%;margin-top: 4%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
								</div>
	
							<!-- Form -->
								<div class="column">
									<h1>Get in Touch</h1><br>
									<form action="/form_responses" method="POST">
										<span class="field half first">
											<!-- <label for="name">Name</label> -->
											<input name="name" id="name" type="text" placeholder="Name: Eg. Test" style="border: 1px solid black;color:black;background-color: rgb(197, 202, 233)">
										</span><br>
										<span class="field half">
											<!-- <label for="email">Email</label> -->
											<input name="email" id="email" type="email" placeholder="Email: Eg. test@xyz.com" style="border: 1px solid black;background-color: rgb(197, 202, 233)">
										</span><br>
										<div class="field">
											<!-- <label for="message">Message</label> -->
											<textarea name="message" id="message" rows="6" placeholder="Message: Eg. Hello" style="border: 1px solid black;background-color: rgb(197, 202, 233)"></textarea>
										</div><br>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit" style ="color: white ; background-color: black;"></li>
										</ul>
									</form>
								</div>
	
						</section>
						<br><br>
				<div class="copyright">
					<ul class="icons" style="color: white;">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter" style="color: white;"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook" style="color: white;"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram" style="color: white;"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube" style="color: white;"><span class="label">YouTube</span></a></li>
					</ul>
					<p style="color: white;">&copy; Udghosh'19</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="social/assets/js/jquery.min.js"></script>
			<script src="social/assets/js/jquery.scrolly.min.js"></script>
			<script src="social/assets/js/jquery.scrollex.min.js"></script>
			<script src="social/assets/js/skel.min.js"></script>
			<script src="social/assets/js/util.js"></script>
			<script src="social/assets/js/main.js"></script>

	</body>
	<style>
		/* Contact */

#contact {
	display: -ms-flexbox;
	-ms-flex-pack: justify;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background:;
}

	#contact form {
		margin: 0;
	
	}

	#contact .icons {
		margin-bottom: 1em;
	}

	#contact .column {
		padding: 3.5em 0 1.5em 0;
		padding-left: 3.5em;
		
		padding-right: 3.5em;
		width: 50%;
	}
	
	#conatct textarea
	{
		border:1px solid black;
	}

		#contact .column.social {
						padding: 2em 0 0.1em 0;
		}

		@media screen and (max-width: 980px) {

			#contact .column {
				padding: 2em 0 0.1em 0;
				padding-left: 2em;
				padding-right: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#contact .column {
				width: 100%;
			}

		}

		@media screen and (max-width: 480px) {

			#contact .column {
				padding: 1em 0 0.1em 0;
				padding-left: 1em;
				padding-right: 1em;
			}

		}

	</style>
</html>
</html>
