<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Meetup is a free responsive single page bootstrap template by designerdada.com">
  <link rel="icon" type="image/png" href="team/favicon/logo.png" />
  <title>Udghosh'19: Team</title>

  <!-- Bootstrap -->
  <link href="team/css/bootstrap.min.css" rel="stylesheet">
  <link href="team/css/style.css" rel="stylesheet">
  <link href="team/css/themify-icons.css" rel="stylesheet">
  <link href='team/css/dosis-font.css' rel='stylesheet' type='text/css'>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
    </head>
    <body id="page-top" data-spy="scroll" data-target=".side-menu">
      <nav class="side-menu">
        <ul>
          <li class="hidden active">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
            <a href="/" class="page-scroll">
              <span class="menu-title">Home</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/acf00010c0c607c79a42343051745191985078f2" class="page-scroll">
              <span class="menu-title">Login/Register</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/525299210b55528ffbd19b7a50a4ef386e208f9d"  target="_blank" class="page-scroll">
              <span class="menu-title">Official Brochure</span>
              <span class="dot"></span>
            </a>
          </li>
        <!--
          <li>
            <a href="/merch"  target="_blank" class="page-scroll">
              <span class="menu-title">Limited Edition Merchandise</span>
              <span class="dot"></span>
            </a>
          </li>
        -->
          <li>
            <a href="/e365d9caf9b7234a92d04292c74c4891befbbf25"  target="_blank" class="page-scroll">
              <span class="menu-title">NOSSQ</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/56139fb631d586607a3841992148761f78ae3f31" class="page-scroll">
              <span class="menu-title">Udghosh Champs</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/events" class="page-scroll">
              <span class="menu-title">Formal Events</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179" class="page-scroll">
              <span class="menu-title">Social Initiatives</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e" class="page-scroll">
              <span class="menu-title">Campus Ambassador</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6" class="page-scroll">
              <span class="menu-title">Udghosh Broadcast</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100" class="page-scroll">
              <span class="menu-title">Udghosh Snapshot</span>
              <span class="dot"></span>
            </a>
          </li>
          <li>
            <a href="/fb250db707f26b867234c570dfe12a67b0b4d71e" class="page-scroll">
              <span class="menu-title">About Us</span>
              <span class="dot"></span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <!-- Start: Header -->
        <div class="row hero-header" id="home">
          <div class="col-md-7">
            <img src="team/img/logo.png" class="logo">
            <h1>Attend the most awaited Sports Fest</h1>
            <h3>to start you up with your Carrer!</h3>
            <h4>27<sup>th</sup> to 29<sup>nd</sup>  September, 2019</h4>
            <a href="#" class="btn btn-lg btn-red">Register Now <span class="ti-arrow-right"></span></a>

          </div>
          <div class="col-md-5 hidden-xs">
            <img src="team/img/logo-2.png" class="rocket animated bounce">
          </div>
        </div>
        <!-- End: Header -->
      </div>
      <div class="container">
        <!-- Start: Desc -->
        <div class="row me-row content-ct">
          <h2 class="row-title">Why Udghosh Is Super Cool?</h2>
          <div class="col-md-4 feature">
            <span class="ti-ticket"></span>
            <h3>Buy Early Bird Tickets</h3>
            <p>Super cool discounts if you purchase early bird tickets now. Limited tickets available with some awesome perks and goodies!</p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-microphone"></span>
            <h3>Expert Speakers</h3>
            <p>Best in class expert speakers who have extensive knowledge of the topic. All speakers are curated by the panel of experts.</p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-world"></span>
            <h3>People around the globe!</h3>
            <p>Meet the people attending this event around the globe. This will be the best opportunity to meet and greet people.</p>
          </div>
        </div>
        <!-- End: Desc -->

        <!-- Start: Speakers -->
        <div class="row me-row content-ct speaker" id="speakers">
          <h2 class="row-title">Meet the Team</h2>
          <!-- Events -->
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Surendar.jpg" class="speaker-img">
            <h3>V Surendar Naik</h3>
            <p>Head, Events</p>
            <p>8309192717</p>
            <p>surendar@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Nitin.JPG" class="speaker-img">
            <h3>Nitin Kumar</h3>
            <p>Head, Events</p>
            <p>8003110270</p>
            <p>nitkum@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Kshitiz.jpg" class="speaker-img">
            <h3>Kshitiz Shukla</h3>
            <p>Head, Events</p>
            <p>9956396720</p>
            <p>kshtz@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <!-- Marketing -->
          <div class="col-md-2 col-sm-6"></div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Somesh.jpg" class="speaker-img">
            <h3>Somesh Choudhary</h3>
            <p>Head, Marketing</p>
            <p>8090638266</p>
            <p>csomesh@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Siddharth.jpeg" class="speaker-img">
            <h3>Siddharth Goel</h3>
            <p>Head, Marketing</p>
            <p>7015843681</p>
            <p>sidgoel@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-12"></div>
          <!-- MnP -->
        <div class="col-md-2"></div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Tushank.jpg" class="speaker-img">
            <h3>Tushank Gupta</h3>
            <p>Head, Media and Publicity</p>
            <p>9721838851</p>
            <p>tushank@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Krishnau.jpg" class="speaker-img">
            <h3>Krishanu Singh</h3>
            <p>Head, Media and Publicity</p>
            <p>9198994458</p>
            <p>krishnau@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-12"></div>
          <!-- PR -->
        <div class="col-md-2"></div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Utkarsh.JPG" class="speaker-img">
            <h3>Utkarsh Singh</h3>
            <p>Head, Public Relations</p>
            <p>-</p>
            <p>utkarshs@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Shruti.jpg" class="speaker-img">
            <h3>Shruti Shukla</h3>
            <p>Head, Public Relations</p>
            <p>7318016023</p>
            <p>sshruti@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-12"></div>
        <!-- Show Management -->
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Gaurav.jpg" class="speaker-img">
            <h3>Gaurav Meena</h3>
            <p>Head, Show Management</p>
            <p>7318017611</p>
            <p>grgaurav@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Atishay.jpg" class="speaker-img">
            <h3>Atishay Shrivastava</h3>
            <p>Head, Show Management</p>
            <p>8441054449</p>
            <p>atishay@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Rajat.jpg" class="speaker-img">
            <h3>Rajat Sachan</h3>
            <p>Head, Show Management</p>
            <p>8319680725</p>
            <p>rrajat@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <!-- Trio -->
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Vishal.jpg" class="speaker-img">
            <h3>Vishal Agarwal</h3>
            <p>Head, Web</p>
            <p>9413605678</p>
            <p>vishalag@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Charchit.jpg" class="speaker-img">
            <h3>Charchit Bharani</h3>
            <p>Head, Finance</p>
            <p>9479380762</p>
            <p>charchit@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Shashank.jpg" class="speaker-img">
            <h3>Shashank Chaudhary</h3>
            <p>Head, Design</p>
            <p>-</p>
            <p>-</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <!-- Security -->
        <div class="col-md-2"></div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Maab.jpg" class="speaker-img">
            <h3>Mohd. Maab Zia Khan</h3>
            <p>Head, Security</p>
            <p>8840462302</p>
            <p>maab@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Prafful.JPG" class="speaker-img">
            <h3>Prafful sharma</h3>
            <p>Head, Security</p>
            <p>7318019703</p>
            <p>prafful@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-12"></div>
        <!-- Hospi -->
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/ayushi.JPG" class="speaker-img">
            <h3>Ayushi Kushwaha</h3>
            <p>Head, Hospitality</p>
            <p>9794930517</p>
            <p>ayushik@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Pankaj.png" class="speaker-img">
            <h3>Pankaj Kumar</h3>
            <p>Head, Hospitality</p>
            <p>8279649936</p>
            <p>pankajr@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-12"></div>
        <!-- Festis -->
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Saubhagya.jpg" class="speaker-img">
            <h3>Saubhagya Soni</h3>
            <p>Festival Coordinator</p>
            <p>7388696150</p>
            <p>ssoni@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="team/img/Vaibhav.jpg" class="speaker-img">
            <h3>Vaibhav Agarwal</h3>
            <p>Festival Coordinator</p>
            <p>7318020831</p>
            <p>vkag@udghosh.org</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>


            </ul>
          </div>
        </div>
        </div>

        <!-- End: Speakers -->
      </div>

      <!-- Start: Footer -->
      	<!-- Contact -->
				<section id="contact">
						<!-- Social -->
							<div class="social column">		
								<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=iitk%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:90%;margin-left: 5%;margin-right: 5%;margin-bottom: 4%;margin-top: 4%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
							</div>

						<!-- Form -->
							<div class="column">
								<h1 style="font-size: 24px;color:black; text-align:center;"><strong>Get in Touch</strong></h1><br>
								<form action="/form_responses" method="POST">
									<span class="field half first">
										<!-- <label for="name">Name</label> -->
										<input name="name" id="name" type="text" placeholder="Name: Eg. Test" style="border: 1px solid black;color:black;background-color:white;padding:2%;font-size: 24px;border-radius: 5px;">
									</span><br>
									<span class="field half">
										<!-- <label for="email">Email</label> -->
										<input name="email" id="email" type="email" placeholder="Email: Eg. test@xyz.com" style="border: 1px solid black;background-color: white;padding:2%;font-size: 24px;border-radius: 5px;">
									</span><br>
									<div class="field">
										<!-- <label for="message">Message</label> -->
										<textarea name="message" id="message" rows="6" placeholder="Message: Eg. Hello" style="border: 1px solid black;padding:2%;font-size: 24px;border-radius: 5px;"></textarea>
									</div><br>
									<ul class="actions">
										<li><input value="Send Message" class="button" type="submit" style ="background-color:black ;color:white;font-size: 24px;padding:1% 2%;align-self: center;border: none;border-radius: 5px;"></li>
									</ul>
								</form>
							</div>
					</section>
					<br><br>
      <div class="container-fluid footer">
        <div class="row contact">
          <div class="col-md-12 contact-form">
          	<center>
	          	<a href="https://twitter.com/udghoshiitk?lang=en" class="fa fa-twitter" style="font-size: 30px;margin: 5px;color: white;"><span class="label"></span></a>
	          	<a href="https://www.facebook.com/udghosh.iitk/" class="fa fa-facebook" style="font-size: 30px;margin: 5px;color: white;"><span class="label"></span></a>
	          	<a href="https://www.instagram.com/udghosh_iitk/" class="fa fa-instagram" style="font-size: 30px;margin: 5px;color: white;"><span class="label"></span></a>
	          	<a href="https://www.youtube.com/user/udghosh11" class="fa fa-youtube" style="font-size: 30px;margin: 5px;color: white;"><span class="label"></span></a>
	        </center>
          </div>
        </div>
        <div class="row footer-credit">
          <div class="col-md-12 col-sm-12">
            <center><p>&copy; Udghosh'19</p></center>
          </div>
        </div>
      </div>
      <!-- End: Footer -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="team/js/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="team/js/bootstrap.min.js"></script>
      <script src="team/js/jquery.easing.min.js"></script>
      <script src="team/js/scrolling-nav.js"></script>
      <script src="team/js/validator.js"></script>
      <!-- Google Analytics -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29231762-2', 'auto');
      ga('send', 'pageview');
      </script>
    </body>
<<<<<<< HEAD
    <style>
     /* Contact */

     form {
		margin: 0 0 2rem 0;
	}

	label {
		display: block;
		font-size: 0.9rem;
		font-weight: 700;
		margin: 0 0 1rem 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 2px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75rem;
			line-height: 2.75rem;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75rem;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75rem;
	}

	textarea {
		padding: 0.75rem 1rem;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1rem;
			font-weight: 400;
			padding-left: 2.4rem;
			padding-right: 0.75rem;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 2px;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65rem;
				left: 0;
				line-height: 1.58125rem;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65rem;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 2px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #555;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #8a4680;
			box-shadow: 0 0 0 1px #8a4680;
		}

	.select-wrapper:before {
		color: rgba(144, 144, 144, 0.25);
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #444;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-color: rgba(144, 144, 144, 0.25);
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #8a4680;
		border-color: #8a4680;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #8a4680;
		box-shadow: 0 0 0 1px #8a4680;
	}

	::-webkit-input-placeholder {
		color:black;
	}

	:-moz-placeholder {
		color:black;
	}

	::-moz-placeholder {
		color:black;
	}

	:-ms-input-placeholder {
		color:black;
	}

	.formerize-placeholder {
		color:black;
	}
#contact {
	display: -ms-flexbox;
	-ms-flex-pack: justify;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
}

	#contact form {
		margin: 0;
	
	}

	#contact .icons {
		margin-bottom: 1em;
	}

	#contact .column {
		padding: 3.5em 0 1.5em 0;
		padding-left: 3.5em;
		
		padding-right: 3.5em;
		width: 50%;
	}
	
	#contact textarea
	{
		border:1px solid black;
		background-color: white;
	}

		#contact .column.social {
			
			padding: 2em 0 0.1em 0;
		}

		@media screen and (max-width: 980px) {

			#contact .column {
				padding: 2em 0 0.1em 0;
				padding-left: 2em;
				padding-right: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#contact .column {
				width: 100%;
			}

		}

		@media screen and (max-width: 480px) {

			#contact .column {
				padding: 1em 0 0.1em 0;
				padding-left: 1em;
				padding-right: 1em;
			}

		}
    </style>
    </html>
    </html>