<html>
	<head>
		<title>Udghosh Champs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="udg_champ/css/main.css" />
		<style >
			#footer {
		text-align: center;
		padding: 0em 0 2em 0;
		color:rgb(150,150,150);
		background-color: black;
	}

		/* #footer:before {
			content: '';
			border-top: solid 1px rgb(75,75,75);
			width: 67%;
			display: block;
			margin: 0 auto 3em auto;
		} */
		
		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}
		@media screen and (max-width: 1280px) {

			#footer {
				padding: 0em 0 1em 0;
			}

		}

		#contact {
	display: -ms-flexbox;
	-ms-flex-pack: justify;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background: #ececec;
}

	#contact form {
		margin: 0;
	
	}

	#contact .icons {
		margin-bottom: 1em;
	}

	#contact .column {
		padding: 3.5em 0 1.5em 0;
		padding-left: 3.5em;
		
		padding-right: 3.5em;
		width: 50%;
	}
	
	#conatct textarea
	{
		border:1px solid black;
	}

		#contact .column.social {
			background: #e6e6e6;
			padding: 2em 0 0.1em 0;
		}

		@media screen and (max-width: 980px) {

			#contact .column {
				padding: 2em 0 0.1em 0;
				padding-left: 2em;
				padding-right: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#contact .column {
				width: 100%;
			}

		}

		@media screen and (max-width: 480px) {

			#contact .column {
				padding: 1em 0 0.1em 0;
				padding-left: 1em;
				padding-right: 1em;
			}

		}
		
		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="#">Udghosh'19</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu" style="background: black;">
				<ul class="links">
					<li><a href="/">Udghosh'19</a></li>
					<li><a href="/acf00010c0c607c79a42343051745191985078f2">Login/Register</a></li>
          			<li><a href="/525299210b55528ffbd19b7a50a4ef386e208f9d" target="_blank">Official Brochure</a></li>
					<!--<li><a href="/merch">Merchandise</a></li>-->
          			<li><a href="/e365d9caf9b7234a92d04292c74c4891befbbf25">NOSSQ</a></li>
					<li><a href="/56139fb631d586607a3841992148761f78ae3f31">Udghosh Champs</a></li>
          			<li><a href="/events">Formal Events</a></li>
					<li><a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179">Social Initiatives</a></li>
					<li><a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e">Campus Ambassador</a></li>
					<li><a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6">Udghosh Broadcast</a></li>
					<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100">Udghosh Snapshot</a></li>
					<li><a href="/fb250db707f26b867234c570dfe12a67b0b4d71e">About Us</a></li>

				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Udghosh'19 Presents</h1>
					<p>Udghosh Champs</p>
				</div>
				<video autoplay loop muted playsinline src="udg_champ/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>UDGHOSH CHAMPS</h2>
						<p>UDGHOSH CHAMP  is pre-fest of the Udghosh'19. This event is for talent search in the field of sports. It will be conducted around first week of July and August.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3> ABOUT UDGHOSH CHAMP</h3>
								</header>
								<p>Udghosh champ is a short version of Udghosh. we organize
								Udghosh champ as  road trips, it helps in increasing the
								popularity of Udghosh. 
								</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>OBJECTIVE</h3>
								</header>
								<p>An active sports pre fest where every student can have a lifelong
								enjoyment of sports. We want as many students as possible to be
								inspired to be active through sports. </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>BENEFITS</h3>
								</header>
								<p>Udghosh champ gives a chance to all type of colleges and
								schools, which are unable to participate in Udghosh, of all over
								the cities to become a part of Udghosh, IIT Kanpur.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>EVENT CONDUCTION</h3>
								</header>
								<p>Proposed Dates for Event – 6-7 th July.No. of sports comptetion to be organized – 4 (Football,
								Volleyball, Chess, Skating)</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>RULE SECTION</h3>
								</header>
								<p><a href = '/home/udghosh_web/public/udg_champ'><strong> Championship Official Rule-book</strong></a>
								This rulebook is binding and will be strictly followed in the
								course of the tournament</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>PAYMENT DETAILS</h3>
								</header>
								<p><strong>Participation Fee- ₹250+GST</strong></p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>UDGHOSH SUSTENANCES</h2>
					<p>Udghosh gives a platform to
					participate and represent themselves on a national level.
					Winners will get scholarship from a renowned academy,
					certificates from Udghosh, IIT Kanpur.Develops teamwork and problem-solving skills. Helps develop
					passion and may also help find a future in the sports one excels.</p>
				</div>
			</section>

		<!-- Testimonials -->
			
		<!-- Footer -->
			
				<!-- Contact -->
				<section id="contact" style='background-color:#ffff'>
					<!-- Social -->
					<div class="social column" style='background-color:#ffff' >
						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas"
									src="https://maps.google.com/maps?q=iitk%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
									scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a
									href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
							<style>
								.mapouter {
									position: relative;
									text-align: right;
									height: 500px;
									width: 90%;
									margin-left: 5%;
									margin-right: 5%;
									margin-bottom: 3.7%;
								}
			
								.gmap_canvas {
									overflow: hidden;
									background: none !important;
									height: 500px;
									width: 100%;
								}
							</style>
						</div>
					</div>
			
					<!-- Form -->
					<div class="column">
						<h1 style="color: red;">Get in Touch</h1>
						<form action="/c9d3bd7a2d649424b8296368c82d5fe2fr" method="POST">
							<span class="field half first">
								<!-- <label for="name">Name</label> -->
								<input name="name" id="name" type="text" placeholder="Name: Eg. Test"
									style="border: 1px solid black;color:black; color:red">
							</span><br>
							<span class="field half">
								<!-- <label for="email">Email</label> -->
								<input name="email" id="email" type="email" placeholder="Email: Eg. test@xyz.com"
									style="border: 1px solid black">
							</span><br>
							<div class="field">
								<!-- <label for="message">Message</label> -->
								<textarea name="message" id="message" rows="6" placeholder="Message: Eg. Hello"
									style="border: 1px solid black"></textarea>
							</div><br>
							<ul class="actions">
								<li><input value="Send Message" class="button" type="submit"
										style="color: red;font-color:red;background-color:black;"></li>
							</ul>
						</form>
					</div>
			
				</section>
				<footer id="footer">
				<br><br>
				<h2>Follow us</h2>
				<ul class="icons">
					<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook"><span
								class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram"><span
								class="label">Instagram</span></a></li>
					<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube"><span
								class="label">YouTube</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Udghosh'19
				</div>
			</footer>

		<!-- Scripts -->
			<script src="udg_champ/js/jquery.min.js"></script>
			<script src="udg_champ/js/browser.min.js"></script>
			<script src="udg_champ/js/breakpoints.min.js"></script>
			<script src="udg_champ/js/util.js"></script>
			<script src="udg_champ/js/main.js"></script>

	</body>
</html>
