* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #3498DB, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}


.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #3498DB;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #3498DB;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
      font-size: 182px;
  }
}
/* Contact */

form {
  margin: 0 0 2rem 0;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 2px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .select-wrapper:before {
    content: '\f078';
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75rem;
  }

  .select-wrapper select::-ms-expand {
    display: none;
  }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75rem;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2.4rem;
    padding-right: 0.75rem;
    position: relative;
  }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 2px;
      border: solid 1px;
      content: '';
      display: inline-block;
      height: 1.65rem;
      left: 0;
      line-height: 1.58125rem;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65rem;
    }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c';
  }

input[type="checkbox"] + label:before {
  border-radius: 2px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1.0;
}

:-moz-placeholder {
  opacity: 1.0;
}

::-moz-placeholder {
  opacity: 1.0;
}

:-ms-input-placeholder {
  opacity: 1.0;
}

.formerize-placeholder {
  opacity: 1.0;
}

label {
  color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border-color: #8a4680;
    box-shadow: 0 0 0 1px #8a4680;
  }

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #444;
}

  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
  }

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #8a4680;
  border-color: #8a4680;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

::-webkit-input-placeholder {
  color:black;
}

:-moz-placeholder {
  color:black;
}

::-moz-placeholder {
  color:black;
}

:-ms-input-placeholder {
  color:black;
}

.formerize-placeholder {
  color:black;
}
#contact {
display: -ms-flexbox;
-ms-flex-pack: justify;
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;

}

#contact form {
  margin: 0;

}

#contact .icons {
  margin-bottom: 1em;
}

#contact .column {
  padding: 3.5em 0 1.5em 0;
  padding-left: 3.5em;
  
  padding-right: 3.5em;
  width: 50%;
}

#contact textarea
{
  border:1px solid black;
  background-color: white;
}

  #contact .column.social {
    
    padding: 2em 0 0.1em 0;
  }

  @media screen and (max-width: 980px) {

    #contact .column {
      padding: 2em 0 0.1em 0;
      padding-left: 2em;
      padding-right: 2em;
    }

  }

  @media screen and (max-width: 736px) {

    #contact .column {
      width: 100%;
    }

  }

  @media screen and (max-width: 480px) {

    #contact .column {
      padding: 1em 0 0.1em 0;
      padding-left: 1em;
      padding-right: 1em;
    }

  }
